@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*{
  /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
:root {
    --main-text-color: #D80032;
    --main1-text-color: #48FD4A;
    --main2-text-color:#33FFBD;
}
body{
    background: #080808;
    color: white;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 400;
    
    
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* nav section */

.logo-txt {
	color: var(--main2-text-color);
}
.navigation {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.navigation-wrapper {
  width: 100%;
  background: #222222b9;
  position: fixed;
}
.nav a{
    position: relative;
}

.nav-div{
    height: 0px;
}

.btn-close {
  opacity: 1;
}
.nav a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main2-text-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;   
}

.nav a:hover::after{
    width: 100%;
}
.nav-btn{
    background-color: var(--main2-text-color);
}

.collapse-nav{
    line-height: 3;
}

.collapse-a {
    border-bottom: 2px solid var(--main2-text-color);
    letter-spacing: 2px;
} 

/* header section */

.hero-section {
  background-image: linear-gradient(rgba(2, 2, 14, 0.5),rgba(2, 2, 14, 0.5)),url(../css/images/illustration/herosection-img.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name{
  color:#33FFBD ;
}
.main-sec {
    height: 100%;
    
}
.main-sec-wrap {
    padding-top: 100px
}

.main-sec-wrap h2{  
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 700;
}
.main-btn {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    border: 2px solid var(--main2-text-color);
    border-radius: 50px;
}
.main-btn1 {
  background: var(--main2-text-color);
  color: black;
}
.main-btn2:hover {
   color: black;
    background: var(--main2-text-color);
}

.section {
    padding: 40px 0;
 
}

/* about Css */
.About {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .btns {
    border: 2px solid var(--main2-text-color);
    background: transparent;
    padding: 13px 28px;
    color: white;
    border-radius: 15px;
  }
  .btns:hover {
    background: var(--main2-text-color);
    color: black; 
  }
   
  .section-heading {
    font-family: "Dancing Script";
    letter-spacing: 2px;
    text-align: center;
    /* font-size: 20px; */
    line-height: 1.2em;
    margin-bottom: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  
  
  .About_Photo {
    width: 400px;
  }
  
  .About_Info h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 2px;
  }
  
  .About_Info_name {
    color: var(--main2-text-color);
  }
  .About_Info_p {
    margin-bottom: 20px;
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
  }

  .d-title {
    color: var(--main2-text-color);
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
  }
  .d-value {
    color: #ccc;
       
  }

  /* Education  */
  .main-timeline{ font-family: 'Poppins', sans-serif; }
  .main-timeline:after{
      content: '';
      display: block;
      clear: both;
  }
  .main-timeline .timeline{
      width: calc(50% + 30px);
      padding: 0 80px 0 0;
      float: left; 
      position: relative;
      z-index: 1;
  }
  .main-timeline .timeline-content{
      color: #666;
      background: #fff;
      min-height: 130px;
      padding: 20px 20px 20px 70px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      border-radius: 50px;
      display: block;
      z-index: 0;
  }
  .main-timeline .timeline-content:hover{ text-decoration: none; }
  .main-timeline .timeline-content:after{
      content: '';
      background: linear-gradient(#0290C2,#006BA4);
      width: 50%;
      border-radius: 50px;
      position: absolute;
      right: 0;
      top: 2px;
      bottom: 2px;
      z-index: -1;
  }
  .main-timeline .timeline-icon{
      color: #006BA4;
      font-size: 35px;
      line-height: 35px;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 18px;
  }
  .main-timeline .timeline-step{
      color: #fff;
      font-size: 42px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 16px;
  }
  .main-timeline .timeline-step span{
      font-size: 18px;
      line-height: 22px;
      display: block;
  }
  .main-timeline .title{
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
  }
  .main-timeline .title:after{
      content: '';
      background-color: #006BA4;
      height: 3px;
      width: 100px;
      margin: 10px auto;
      display: block;
      clear: both;
  }
  .main-timeline .description{
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.7px;
      line-height: 18px;
      margin: 0;
  }
  .main-timeline .timeline:nth-child(even){
      float: right;
      padding: 0 0 0 80px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 70px 20px 25px; }
  .main-timeline .timeline:nth-child(even) .timeline-content:after{
      right: auto;
      left: 0;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      left: auto;
      right: 17px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-step{
      right: auto;
      left: 16px;
  }
  .main-timeline .timeline:nth-child(4n+2) .timeline-content:after{ background: linear-gradient(#8521b7,#4151A9); }
  .main-timeline .timeline:nth-child(4n+2) .timeline-icon{ color: #4151A9; }
  .main-timeline .timeline:nth-child(4n+2) .title:after{ background: #4151A9; }
  .main-timeline .timeline:nth-child(4n+3) .timeline-content:after{ background: linear-gradient(#C364CF,#7F47A0); }
  .main-timeline .timeline:nth-child(4n+3) .timeline-icon{ color: #7F47A0; }
  .main-timeline .timeline:nth-child(4n+3) .title:after{ background: #7F47A0; }
  .main-timeline .timeline:nth-child(4n+4) .timeline-content:after{ background: linear-gradient(#FF449D,#F957D9); }
  .main-timeline .timeline:nth-child(4n+4) .timeline-icon{ color: #F957D9; }
  .main-timeline .timeline:nth-child(4n+4) .title:after{ background: #F957D9; }
  @media screen and (max-width:767px){
      .main-timeline .timeline{
          width: 100%;
          margin: 0 0 30px;
      }   
  }
  @media screen and (max-width:576px){
      .main-timeline .timeline,
      .main-timeline .timeline:nth-child(even){
          padding: 80px 0 0;
      }
      .main-timeline .timeline-content,
      .main-timeline .timeline:nth-child(even) .timeline-content{
          padding: 20px 20px 70px 20px;
          border-radius: 20px;
      }
      .main-timeline .timeline-content:after,
      .main-timeline .timeline:nth-child(even) .timeline-content:after{
          width: 100%;
          border-radius: 20px;
          top: 0;
          bottom: 50px;
      }
      .main-timeline .timeline-icon,
      .main-timeline .timeline:nth-child(even) .timeline-icon{
          transform: translateY(0) translateX(-50%);
          left: 50%;
          right: auto;
          top: auto;
          bottom: 17px;
      }
      .main-timeline .timeline-step,
      .main-timeline .timeline:nth-child(even) .timeline-step{
          transform: translateY(0) translateX(-50%);
          left: 50%;
          right: auto;
          top: 11px;
      }
  }
  License Terms

  
  /* .timeline {
    position: relative;
    width: 100%;
    
    margin: 0 auto;
    padding: 15px 0;
    
    font-family:'Poppins', sans-serif;
    }
    
    .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    }
    .info {
      padding: 15px 30px;
      position: relative;
      background: inherit;
      width: 50%;
      }
      
      .info.left {
      left: 0;
      }
      
      .info.right {
      left: 50%;
      }
      
      .info::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      right: -8px;
      background: #ffffff;
      border: 2px solid #006E51;
      border-radius: 16px;
      z-index: 1;
      }
      
      .info.right::after {
      left: -8px;
      }
      
      .info::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      top: calc(50% - 1px);
      right: 8px;
      background: #006E51;
      z-index: 1;
      }
      
      .info.right::before {
      left: 8px;
      }
      
      .info .date {
      position: absolute;
      display: inline-block;
      top: calc(50% - 8px);
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #006E51;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 1;
      }
      
      .info.left .date {
      right: -75px;
      }
      
      .info.right .date {
      left: -75px;
      }
       
      .info .edu {
      padding: 30px 90px 30px 30px;
      background:  whitesmoke;
      position: relative;
      border-radius: 0 500px 500px 0;
      }
      
      .info.right .edu{
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
      }
      
    .edu h2{
      color:#33FFBD; */



    

      /* } */


    
    @media screen and (max-width:767px){
        .main-timeline .timeline,
        .main-timeline .timeline:nth-child(even){
            width: 100%;
            padding: 60px 0 0 15px;
            margin: 0 0 30px;
            float: none;
        }
        .main-timeline .timeline-content,
        .main-timeline .timeline:nth-child(even) .timeline-content{
            background: linear-gradient(-30deg,transparent,#ddd);
        }
        .main-timeline .timeline-year,
        .main-timeline .timeline:nth-child(even) .timeline-year{
            transform: rotate(-20deg);
            top: -45px;
            left: 0;
            right: auto;
        }
        .main-timeline .timeline-year:before,
        .main-timeline .timeline-year:after{
            right: -7px;
            left: -1.5px;
        }
    }
    @media screen and (max-width:576px){
        .main-timeline .timeline-content{ padding-top: 60px; }
    }
    License Terms



      @media (max-width: 768px) {
        .timeline::after {
          left: 90px;
        }
        .info{
          width: 100%;
          padding-left: 120px;
          padding-right: 30px;
        }
        
        .info.right {
          left: 0%;
        }
        
        .info.left::after, 
        .info.right::after {
          left: 82px;
        }
        
        .info.left::before,
        .info.right::before {
          left: 100px;
          border-color: transparent #006E51 transparent transparent;
        }
        
        .info.left .date,
        .info.right .date {
          right: auto;
          left: 15px;
        }
        
        .info.left .edu,
        .info.right .edu {
          padding: 30px 12px 30px 58px;
          border-radius: 500px 0 0 500px;
        }
      }    

/* Skill section */

.skills-image,.skills-react,.skills-jquery,.skills-js,.skills-css,.skills-b{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.image-div{
    background-color: #222222;
    border: 2px solid #222222;
    border-radius: 10px;
    transition: transform .8s;
}
  
.image-div:hover{
  border: 2px solid var(--main2-text-color);
   
      
}


/* Project section */

.project-img {

  /* border: 7px solid #ee6c0c; */
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.project-info {
  color: #080808;
  background: var(--main2-text-color);
  opacity: 0.8;
  height: 100%;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  position: absolute;
  padding: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
  overflow: hidden;
  transition: 0.3s all;
}
.project-dts:hover .project-info {
  transform: translate(-50%, 0%);
}
figcaption h4 {
  margin-bottom: 0;
}

.view-btn a {
 color: black;
 padding: 5px 10px;
 border: 1px solid black;

}


/* contact */

.contact-title {
  color: var(--main2-text-color)
}
.contact-icon {
  color: #fff;
}
.contact-icon:hover {
  color: var(--main2-text-color);
}
.form-control:focus {
  border: 1px solid #ffffff;
  box-shadow: none;
}


@media(min-width: 768px) {

  
  .main-sec-wrap h2{  
    font-size: 2rem;
    
}

}

@media(min-width: 992px) {
  .hero-section {
    height: 100vh;
  }
  .main-sec-wrap {
    padding-top: 150px
}
  .main-sec-wrap h2{  
    font-size: 2.5rem; 
}
.main-btn{
  font-size: 16px;
  padding: 10px 22px;
}
.section-heading {
  font-size: 2.6rem;
}

}

@media(min-width: 1199px) {
  .main-sec-wrap {
    padding-top: 170px
}
  .main-sec-wrap h2{  
    font-size: 2.8rem;
    
}

}


.footer{
  background-color:#33FFBD ;
}


