*{
    /* border: 1px solid red; */
}
    
  

#logo{
    width:150px;
}
#relative{
    position: relative;
}
#absolute{
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    /* left: 50px; */
    position:absolute;
    top: 15%;
}
#btn{
    font-weight: 600;
}
#red{
    font-weight: 700;
}


#btn:hover{
    background-color: #D2042D;

}
#italic{
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
  font-family: "Anton", sans-serif;
  padding:  0px 15px;
}
h6{
    font-style: italic;
    font-weight: 600;
    color: #B30000;
    font-size: 18px;
  font-family: "Anton", sans-serif;
  padding:  0px 15px;

}
#gv{
    font-family: "Anton", sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 0;
    padding:  0px 15px;
}
h4{
    font-family: "Anton", sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;
    padding:  0px 15px;

}
#otr{
    margin-top: 0px;
    color: #B30000;
    padding:  0px 15px;
    
}
#data{
    font-size: 15px;
    padding:  0px 15px;
}

#more{
    margin-left: 15px;
}
#effect:hover{
opacity: 0.50;
}

#red:hover{
    color: #B30000;

}


@media only screen and (min-width:768px){
    .nav-link{
        display: none;
    }
    #icon{
        margin-left: 500px;
    }
    #absolute{
        justify-content: center;
        font-size:52px;
        margin-top: 120px;
        
    }
    
  
}


@media only screen and (min-width:992px){
    .nav-link{
        display:flex;
    }
    #absolute{
        justify-content: center;
    }
    #cardsection{
        justify-content:space-evenly;
        align-items: center;
    }
    #btn{
        padding: 10px 10px;
        font-size: x-large;
    }
    #italic{
        font-size:x-large;
    }
    #gv{
        font-size:52px;
    }
    #otr{
        font-size: x-large;
    }
    #data{
        font-size: larger;
    }
}

@media only screen and (min-width:1400px){
    #absolute{
        justify-content: center;
        font-size:62px;
        margin-top: 160px;
        
    }
    

#italic{
    font-size:x-large;
}
#gv{
    font-size:52px;
}
#otr{
    font-size: x-large;
}
#data{
    font-size: larger;
}

}

.img1{
    width: 800px;
}
.img2{
    width:1400px ;
}